<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Page Not Found :(</title>
	<style>
		#header {
			font-family: 'Avenir', Helvetica, Arial, sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			color: #2c3e50;
			margin-top: 60px;
		}
	</style>
</head>
<body>
	<div id="header">
		<img src="webanimal2-0-1.png">
		<h2>You were never here <span>:(</span></h2>
		<p>Sorry, but the page you were trying to view does not exist.</p>
	</div>
</body>
</html>
